@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    background: url(images/fondo.png);
    background-size: cover;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #eee;
  color:#666;
}

.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:#666;
}
    .login-form a:hover {
        color: #009999;
    }
.forgot-link{
  font-size: 13px;
}

.form-control:focus {
    border-color: #009748;
    box-shadow: 0 0 0 0.2rem rgba(0,153,153,.1);
}
.btn-custom {
    background: rgb(0,153,153);
    background: linear-gradient(321deg, rgba(0,151,72,1) 0%, rgba(0,153,153,1) 100%);
    border-color: #009999;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}
    .btn-custom:focus,
    .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:active:focus {
        background: rgb(0,153,153);
        background: linear-gradient(321deg, rgba(0,153,153,1) 0%, rgba(0,151,72,1) 100%);
        border-color: #009999;
        color: #fff;
    }
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}