.icon-filled_brand[class*='instagram']::after {
    box-shadow: 0 0 0 2px rgba(64, 93, 930, 0
                               80, 81, 219, 0
                               131, 58, 180, 0
                               193, 53, 132, 0
                               225, 48, 108, 0
                               253, 29, 29, 0);
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);

}
