<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions"><a href="http://i7.web7016.uni5.net/#" class="card-action card-action-toggle"
                                             data-card-toggle=""></a> <a href="http://i7.web7016.uni5.net/#"
                                                                         class="card-action card-action-dismiss"
                                                                         data-card-dismiss=""></a></div>
                <h2 class="card-title">Cadastro de Pessoa Física</h2>
                <p class="card-subtitle"></p>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <label class="col-form-label" for="formGroupExampleInput">Nome do Cliente</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome">
                    </div>
                    <div class="col-lg-2">
                        <label class="col-form-label" for="formGroupExampleInput">Código do Cliente</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                    <div class="col-lg-2">
                        <label class="col-form-label">Tipo</label>
                        <select class="form-control mb-3">
                            <option selected="">Físico</option>
                            <option>Jurídico</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">CPF</label>
                        <!--<input type="text" class="form-control" id="formGroupExampleInput" placeholder="XX.XXX.XXX/XXXX-XX">-->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="XXX.XXX.XXX-XX">
                            <span class="input-group-append">
              <button class="btn btn-primary" type="button">Buscar</button>
              </span></div>
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">RG</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="XX.XXX.XXX-X">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label">Status Cliente</label>
                        <select class="form-control mb-3">
                            <option>Ativo</option>
                            <option>Inátivo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Razão social</label>
                        <input type="text" class="form-control" id="formGroupExampleInput">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label">Indicador de Inscrição Estadual</label>
                        <select class="form-control mb-3">
                            <option>Não Contribuente</option>
                            <option>Contribuente</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Inscrição Estadual</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">E-mail Principal</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Telefone Principal</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="(XX) XXXX-XXXX">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Telefone Celular</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="(XX) XXXXX-XXXX">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label class="col-form-label" for="textareaDefault">Informações Adicionais</label>
                        <textarea class="form-control" rows="5" id="textareaDefault"></textarea>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions"><a href="http://i7.web7016.uni5.net/#" class="card-action card-action-toggle"
                                             data-card-toggle=""></a> <a href="http://i7.web7016.uni5.net/#"
                                                                         class="card-action card-action-dismiss"
                                                                         data-card-dismiss=""></a></div>
                <h2 class="card-title">Contatos do Cliente</h2>
                <p class="card-subtitle"></p>
            </header>
            <div class="card-body">
                <div class="row">
                    <table class="table table-responsive-md mb-0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Fone</th>
                            <th>Cargo</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>aaaa@aaaa.com.br</td>
                            <td>99999-9999</td>
                            <td>Trainee</td>
                            <td class="actions"><a href="http://i7.web7016.uni5.net/"><i class="fas fa-pencil-alt"></i></a>
                                <a href="http://i7.web7016.uni5.net/" class="delete-row"><i
                                        class="far fa-trash-alt"></i></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>aaaa@aaaa.com.br</td>
                            <td>99999-9999</td>
                            <td>Trainee</td>
                            <td class="actions"><a href="http://i7.web7016.uni5.net/"><i class="fas fa-pencil-alt"></i></a>
                                <a href="http://i7.web7016.uni5.net/" class="delete-row"><i
                                        class="far fa-trash-alt"></i></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>aaaa@aaaa.com.br</td>
                            <td>99999-9999</td>
                            <td>Trainee</td>
                            <td class="actions"><a href="http://i7.web7016.uni5.net/"><i class="fas fa-pencil-alt"></i></a>
                                <a href="http://i7.web7016.uni5.net/" class="delete-row"><i
                                        class="far fa-trash-alt"></i></a></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder=""></td>
                            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder=""></td>
                            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder=""></td>
                            <td><input type="text" class="form-control" id="formGroupExampleInput" placeholder=""></td>
                            <td class="actions"><a href="http://i7.web7016.uni5.net/"><i class="fas fa-plus-square"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <div class="card-actions"><a href="http://i7.web7016.uni5.net/#" class="card-action card-action-toggle"
                                             data-card-toggle=""></a> <a href="http://i7.web7016.uni5.net/#"
                                                                         class="card-action card-action-dismiss"
                                                                         data-card-dismiss=""></a></div>
                <h2 class="card-title">Endereço do Cliente</h2>
                <p class="card-subtitle"></p>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">CEP</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Endereço</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Número</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Complemento</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label" for="formGroupExampleInput">Bairro</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                    <div class="col-lg-4">
                        <label class="col-form-label">Cidade</label>
                        <input type="text" class="form-control" id="inputDefault" placeholder="Digite uma cidade: "
                               list="cidades">
                        <datalist id="cidades">
                            <option value="Porto Alegre">Porto Alegre</option>
                            <option value="Parobé">Parobé</option>
                            <option value="Igrejinha">Igrejinha</option>
                            <option value="Piquirí">Piquirí</option>
                            <option value="Sanga Funda">Sanga Funda</option>
                            <option value="Frederico Westenphalen">Frederico Westenphalen</option>
                        </datalist>
                    </div>
                </div>
            </div>
            <footer class="card-footer text-right">
                <button class="btn btn-default">Voltar</button>
                <button class="btn btn-primary">Concluir</button>
            </footer>
        </section>
    </div>
</div>